DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-this-to-a-long-random-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,mybookwise.xyz,www.mybookwise.xyz,ly.mybookwise.xyz,.trycloudflare.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://mybookwise.xyz,https://www.mybookwise.xyz,https://ly.mybookwise.xyz

MYSQL_ROOT_PASSWORD=yl15924
MYSQL_DATABASE=bookstoredb

GUNICORN_WORKERS=4
GUNICORN_THREADS=25
GUNICORN_TIMEOUT=60

DEEPSEEK_API_KEY=
GEMINI_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
SITE_URL=https://ly.mybookwise.xyz
STRIPE_WEBHOOK_SECRET=
