{% extends "bookstore/base.html" %}
{% block content %}
<h2>图书列表</h2>

<form action="{% url 'bookstore:search' %}" method="get">
  <input type="text" name="q" placeholder="搜索书名 / 关键词 /isbn">
  <button type="submit">搜索</button>
</form>

<ul>
  {% for book in books %}
    <li>
      <a href="{% url 'bookstore:book_detail' book.isbn %}">
        {{ book.title }}（{{ book.isbn }}）
      </a>
      - 价格：{{ book.price }} 元
      - 库存：{{ book.stockqty }}
      <a href="{% url 'bookstore:cart_add' book.isbn %}">加入购物车</a>
    </li>
  {% empty %}
    <li>暂无图书</li>
  {% endfor %}
</ul>
{% endblock %}